# Common git ignore for platform folder

# IntelliJ
**/.idea/
**/*.eml
**/*.iml
**/*.iws
**/*.ipr
classes/

**/build/
=======
*.class

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.log
.gradle/**

docker-builds/**
